* {
    margin: 0px;
    padding: 0px;
  }
  
  #sidebar {
    position: absolute; 
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
  }
  
  .abrir
  {
    transform:translateX(150px) ;

  }
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
  }
  
  .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
  }
  
  body
  {
    margin: 0;
    overflow: hidden;
  
  }
  
  .contenido
  {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px;
    transition:all 0.3s ;
  
  }